.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.toggle_icon {
  display: flex;
  align-items: center;
  color: #fff;
  visibility: hidden;
}

.header_search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 600;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
}

.header_options {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 50px;
    width: 100%;
  }

  .header_nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 10px;
  }

  .header_logo {
    width: 45px;
    margin-top: 12px;
    margin-left: 4px;
  }

  .header_search {
    margin-left: -10px;
  }

  .header_optionBasket {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header_searchInput {
    width: 100%;
    height: 5px;
    font-size: 10px;
    padding: 10px;
    margin-right: -2px;
    border: none;
    border-radius: 3px;
  }

  .header_searchIcon {
    padding: 5px;
    height: 17.9px !important;
    background-color: #cd9042;
    border-radius: 2px;
  }

  .header_optionLineOne {
    font-size: 8.55px;
    display: flex;
    align-items: center;
  }

  .header_optionLineTwo {
    display: flex;
    align-items: center;
    font-size: 9px;
    font-weight: 300;
  }

  .header_options {
    height: 45px;
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    flex-direction: column;
    justify-content: center;
  }

  .select {
    display: flex;
    align-items: center;
    margin-right: -3px;
    padding-left: 7px;
  }
}
